@import "../../styles/variables.scss";

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  display: flex;
  position: relative;
  justify-content: center;
  background: $gray-900;
}

.container {
  position: relative;
  @include flex;
  width: 100%;
  height: 100%;
  max-width: 1280px;
}

.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 30px;
}

.header-title {
  color: $gray-400;
  opacity: 1;
  cursor: default;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  @include flex;
}

.hero {
  display: flex;
  justify-content: center;
  background: $gray-900;
  position: absolute;
  left: 400px;
  height: 680px;
}
